/*Global properties*/

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.feedback {
  color: black;
}

.feedback ul {
  list-style: none;
}

.feedback p {
  margin-bottom: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

/*Temporary properties*/

.popup-write-us,
.popup-map,
.popup-add-cart {
  display: none;
}

/*Mix properties*/

.button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: rgba(255,255,255,1);
  text-transform: uppercase;

  background-color: rgba(238,54,67,1);
}

.button:hover,
.button:focus {
  background-color: rgba(202,44,55,1);
}

.button:active {
  background-color: rgba(186,39,50,1);
}

.our-logo {
  background-color: rgba(238,54,67,1);
  box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
}

/*Local properties*/

.header {
  font-weight: normal;
  font-family: "Cuprum", "Arial", sans-serif;
  color: rgba(255,255,255,1);

  background-color: rgba(244,247,249,1);
}

.header__top {
  background-color: rgba(41,52,73,1);
}


.header__logo:hover,
.header__logo:focus {
  background-color: rgba(202,44,55,1);
}

.header__logo:active {
  background-color: rgba(186,39,50,1);
}

.search-form__input {
  font-size: 17px;
  line-height: 18px;
  color: rgba(255,255,255,1);

  background-color: rgba(41,52,73,1);
  border: none;
}

.search-form__input::placeholder {
  color: rgba(255,255,255,1);
}

.search-form__input:focus {
  color: rgba(0,0,0,1);

  background-color: rgba(255,255,255,1);
}

.goods-actions {
  list-style: none;
}

.goods-actions__item a {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: rgba(255,255,255,1);
}

.goods-actions__item a:active {
  color: rgba(255,255,255,0.6);
}

.goods-actions__item_unempty a {
  background-color: rgba(238,54,67,1);
}

/*Слудующего свойства нет в стайлгайде, прикрутил эффект как у .button*/
.goods-actions__item_unempty a:hover,
.goods-actions__item_unempty a:focus {
  background-color: rgba(202,44,55,1);
}

.goods-actions__item_checkout a {
  background-color: rgba(99,166,62,1);
}

.goods-actions__item_checkout a:hover,
.goods-actions__item_checkout a:focus {
  background-color: rgba(95,187,45,1);
}

.goods-actions__item_checkout a:active {
  color: rgba(255,255,255,0.5);

  background-color: rgba(81,133,52,1);
}

.header__description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  text-align: left;
  color: rgba(238,54,67,1);
}

.header__contacts {
  text-align: center;
}

.header__telephone {
  font-size: 21px;
  line-height: 21px;
  color: rgba(238,54,67,1);

  border: solid 3px rgba(255,255,255,1);
}

.header__adress {
  font-size: 14px;
  line-height: 24px;
  color: rgba(50,66,92,1);
}

.authorization__container {
  background-color: rgba(255,255,255,1);
}

.authorization__button {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: rgba(0,0,0,1);

  background-color: rgba(255,255,255,1);
}

.authorization__button:hover,
.autauthorization__button:focus {
  color: rgba(238,54,67,1);
}

.authorization__button:active {
  color: rgba(0,0,0,0.3);
}

.authorization__name {
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: rgba(0,0,0,1);

  background-color: transparent;
}

.authorization__name:active {
  color: rgba(0,0,0,0.3);
}

.authorization__logout {
  color: rgba(197,197,197,1);
}

.authorization__logout:hover {
  color: rgba(50,66,92,1);
}

.authorization__logout:active {
  color: rgba(197,197,197,1);
}

.authorization__personal {
  font-size: 16px;
  text-align: left;
  color: rgba(50,66,92,1);
  text-decoration: underline;
}

.authorization__personal:hover,
.authorization__personal:focus {
  color: rgba(238,54,67,1);
}

.authorization__personal:active {
  color: rgba(50,66,92,0.3);
}

.header__navigation {
  background-color: rgba(50,66,92,1);
  box-shadow: inset 0 -5px 0 0 rgba(41,52,73,1);
}

.header__navigation ul {
  list-style: none;
}

.header__navigation a {
  text-align: center;
  color: rgba(255,255,255,1);
}

.header__navigation a:hover {
  background-color: rgba(29,39,57,1);
}

.header__navigation a:active {
  color: rgba(255,255,255,0.5);

  background-color: rgba(29,39,57,1);
}

/*Красная зона*/

/*Конец красной зоны*/

.about-company {
  color: rgba(0,0,0,1);

  background-color: rgba(255,255,255,1);
}

.about-company__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: left;
  text-transform: uppercase;
}

.about-company p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans", "Arial", sans-serif;
  text-align: left;
}

.about-company ul {
  list-style: none;
}

.about-company li {
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: left;
}

.contacts {
  color: rgba(0,0,0,1);

  background-color: rgba(255,255,255,1);
}

.contacts__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: left;
  text-transform: uppercase;
}

.about-company p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans", "Arial", sans-serif;
  text-align: left;
}

.footer {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: rgba(243,247,249,1);

  background-color: rgba(50,66,92,1);
}

.footer__logo {
  text-align: center;
}

.footer p {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.footer ul {
  list-style: none;
}

.footer__site-map a {
  text-align: left;
  color: rgba(243,247,249,1);
}

.footer__site-map a:hover,
.footer__site-map a:focus {
  text-decoration: underline;
}

.footer__site-map a:active {
  color: rgba(241,245,247,0.5);
  text-decoration: none;
}

.footer__catalog-map a {
  text-align: left;
  color: rgba(255,209,128,1);
}

.footer__catalog-map a:hover,
.footer__catalog-map a:focus {
  text-decoration: underline;
}

.footer__catalog-map a:active {
  color: rgba(255,209,128,0.5);
  text-decoration: none;
}

.footer__container {
  color: white;

  background-color: rgba(41,52,73,1);
}

.footer__copyright {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.footer__social a {
  text-align: center;
  color: rgba(255,255,255,1);

  background-color: rgba(33,42,58,1);
}

.footer__social a:hover,
.footer__social a:focus,
.footer__social a:active {
  background-color: rgba(238,54,67,1);
}

.footer__callback a,
.footer__develop a {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: rgba(255,209,128,1);
}

.footer__callback a:hover,
.footer__callback a:focus,
.footer__develop a:hover,
.footer__develop a:focus {
  text-decoration: underline;
}

.footer__callback a:active,
.footer__develop a:active {
  color: rgba(238,54,67,1);
  text-decoration: none;
}

.main {
  background-color: rgba(255,255,255,1);
}

.main__breadcrumbs {
  list-style: none;
}

.main__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: left;
  color: rgba(50,66,92,1);
  text-transform: uppercase;

  background-color: rgba(242,246,248,1);
}

.main__breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: left;
  color: rgba(0,0,0,1);
}


.manufact-set {
  border: none;
}
.manufact-set__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: left;
  color: rgba(0,0,0,1);
  text-transform: uppercase;
}

.manufact-set__list {
  list-style: none;
}

/*ниже задаю параметры только тексту (как по заданию) так как чекбоксы мы потом стилизуем отдельно*/
.manufact-set__label,
.manufact-set__label:hover,
.manufact-set__label:focus,
.manufact-set__label:active {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: left;
  color: rgba(0,0,0,1);
  text-transform: uppercase;
}

.manufact-set__item_disabled {
  opacity: 0.4;
}

.power-set {
  border: none;
}
.power-set__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: left;
  color: rgba(0,0,0,1);
  text-transform: uppercase;
}

.power-set__list {
  list-style: none;
}

/*ниже задаю параметры только тексту (как по заданию) так как чекбоксы мы потом стилизуем отдельно*/
.power-set__label,
.power-set__label:hover,
.power-set__label:focus,
.power-set__label:active {
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: left;
  color: rgba(0,0,0,1);
  text-transform: uppercase;
}

.power-set__item_disabled {
  opacity: 0.4;
}

.filtres__button {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: rgba(0,0,0,1);
  text-transform: uppercase;

  background-color: rgba(255,255,255,1);
  border: solid 1px rgba(229,229,229,1);
}

.filtres__button:hover,
.filtres__button:focus {
  border: solid 1px rgba(189,198,202,1);
}

.filtres__button:active {
  border: solid 1px rgba(238,54,67,1);
}

/*Ниже обращаюсь через .products так как этот список товаров еще будет на главной странице*/

.products {
  list-style: none;
}

.products__item {
  background-color: rgba(255,255,255,1);
  border: solid 1px rgba(229,229,229,1);
}

.products__item:hover,
.products__item:focus {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.502);
}

.products__title {
  text-align: center;
}

.products__img-container {
  text-align: center;
}

.products__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(0,0,0,1);
}

.products__price-container {
  background-color: transparent;
}

.products__old-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: rgba(153,153,153,1);
  text-decoration: line-through;
}

.products__current-price {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: rgba(255,255,255,1);

  background-color: rgba(238,54,67,1);
}

.products__buy-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: rgba(255,255,255,1);
  text-transform: uppercase;

  background-color: rgba(99,166,62,1);
  box-shadow: inset 0 -3px 0 0 rgba(54,115,21,1);
}

.products__buy-button:hover,
.products__buy-button:focus {
  background-color: rgba(95,187,45,1);
}

.products__buy-button:active {
  background-color: rgba(81,133,52,1);
}

.products__bookmark-button {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: rgba(50,66,92,1);
  text-transform: uppercase;

  border: solid 3px rgba(99,166,62,1);
}

.products__bookmark-button:hover,
.products__bookmark-button:focus {
  border: solid 3px rgba(50,66,92,1);
}

.products__bookmark-button:active {
  color: rgba(50,66,92,0.298);

  border: solid 3px rgba(50,66,92,0.3);
}
