/*All fonts*/

/* cyrillic */
@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Cuprum";

  font-display: swap;
  src: local("Cuprum Italic"),
  local("Cuprum-Italic"),
  url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff"),
  url(https://fonts.gstatic.com/s/cuprum/v11/dg4m_pLmvrkcOkBNI9tEr7kVSg.woff2) format("woff2");
  unicode-range: U+0400-045F,
  U+0490-0491,
  U+04B0-04B1,
  U+2116;
}

/* latin */
@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Cuprum";

  font-display: swap;
  src: local("Cuprum Italic"),
  local("Cuprum-Italic"),
  url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff"),
  url(https://fonts.gstatic.com/s/cuprum/v11/dg4m_pLmvrkcOkBNI9tAr7k.woff2) format("woff2");
  unicode-range: U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
}

/* cyrillic */
@font-face {
  font-style: italic;
  font-weight: 700;
  font-family: "Cuprum";

  font-display: swap;
  src: local("Cuprum Bold Italic"),
  local("Cuprum-BoldItalic"),
  url("../fonts/cuprumbolditalic.woff2") format("woff2"),
  url("../fonts/cuprumbolditalic.woff") format("woff"),
  url(https://fonts.gstatic.com/s/cuprum/v11/dg4h_pLmvrkcOkBNI9P7iqwuawcegg.woff2) format("woff2");
  unicode-range: U+0400-045F,
  U+0490-0491,
  U+04B0-04B1,
  U+2116;
}

/* latin */
@font-face {
  font-style: italic;
  font-weight: 700;
  font-family: "Cuprum";

  font-display: swap;
  src: local("Cuprum Bold Italic"),
  local("Cuprum-BoldItalic"),
  url("../fonts/cuprumbolditalic.woff2") format("woff2"),
  url("../fonts/cuprumbolditalic.woff") format("woff"),
  url(https://fonts.gstatic.com/s/cuprum/v11/dg4h_pLmvrkcOkBNI9P7iqwqawc.woff2) format("woff2");
  unicode-range: U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
}

/* cyrillic */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Cuprum";

  font-display: swap;
  src: local("Cuprum Regular"),
  local("Cuprum-Regular"),
  url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff"),
  url(https://fonts.gstatic.com/s/cuprum/v11/dg4k_pLmvrkcOkBNIutCt70.woff2) format("woff2");
  unicode-range: U+0400-045F,
  U+0490-0491,
  U+04B0-04B1,
  U+2116;
}

/* latin */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Cuprum";

  font-display: swap;
  src: local("Cuprum Regular"),
  local("Cuprum-Regular"),
  url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff"),
  url(https://fonts.gstatic.com/s/cuprum/v11/dg4k_pLmvrkcOkBNJutC.woff2) format("woff2");
  unicode-range: U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
}

/* cyrillic */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Cuprum";

  font-display: swap;
  src: local("Cuprum Bold"),
  local("Cuprum-Bold"),
  url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff"),
  url(https://fonts.gstatic.com/s/cuprum/v11/dg4n_pLmvrkcOkBFnc5XjJwocwM.woff2) format("woff2");
  unicode-range: U+0400-045F,
  U+0490-0491,
  U+04B0-04B1,
  U+2116;
}

/* latin */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Cuprum";

  font-display: swap;
  src: local("Cuprum Bold"),
  local("Cuprum-Bold"),
  url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff"),
  url(https://fonts.gstatic.com/s/cuprum/v11/dg4n_pLmvrkcOkBFnc5XiJwo.woff2) format("woff2");
  unicode-range: U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
}

/* cyrillic */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: local("PT Sans"),
  local("PTSans-Regular"),
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff"),
  url(https://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0aExdGM.woff2) format("woff2");
  unicode-range: U+0400-045F,
  U+0490-0491,
  U+04B0-04B1,
  U+2116;
}

/* latin */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: local("PT Sans"),
  local("PTSans-Regular"),
  url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff"),
  url(https://fonts.gstatic.com/s/ptsans/v11/jizaRExUiTo99u79D0KExQ.woff2) format("woff2");
  unicode-range: U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
}

/* cyrillic */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: local("PT Sans Bold"),
  local("PTSans-Bold"),
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff"),
  url(https://fonts.gstatic.com/s/ptsans/v11/jizfRExUiTo99u79B_mh0OqtLQ0Z.woff2) format("woff2");
  unicode-range: U+0400-045F,
  U+0490-0491,
  U+04B0-04B1,
  U+2116;
}

/* latin */
@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: local("PT Sans Bold"),
  local("PTSans-Bold"),
  url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff"),
  url(https://fonts.gstatic.com/s/ptsans/v11/jizfRExUiTo99u79B_mh0O6tLQ.woff2) format("woff2");
  unicode-range: U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
}

/*Global properties*/

body {
  margin: 0;

  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: left;
  color: rgba(255, 255, 255, 1);

  background-color: rgba(255, 255, 255, 1);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}



.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

/*Temporary properties*/

.popup-write-us,
.popup-map,
.popup-add-cart {
  display: none;
}

/*Mix properties*/

.button {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.button_red {
  background-color: rgba(238, 54, 67, 1);
  display: block;
  height: 38px;
  padding-top: 11px;
  border-radius: 3px;
}

.button_red:hover {
  background-color: rgba(202, 44, 55, 1);
}

.button_red:focus {
  background-color: rgba(186, 39, 50, 1);
}

.button_black-transparent {
  background-color: rgba(0, 0, 0, 0.1);
}

.button_black-transparent:hover,
.button_black-transparent:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.button_black-transparent:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.our-logo {
  text-align: center;

  background-color: rgba(238, 54, 67, 1);
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.24);
}

.section-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: left;
  text-transform: uppercase;
}

.wrapper-940 {
  width: 940px;
  margin: 0 auto;
}

/*Local properties*/

.header {
  background-color: rgba(244, 247, 249, 1);
  display: flex;
  flex-direction: column;
}

.header__wrapper_top {
  display: flex;
  height: 42px;
}

.header__top {
  font-size: 17px;
  line-height: 18px;

  background-color: rgba(41, 52, 73, 1);
}

.header__logo {
  width: 220px;
  height: 47px;
  padding-top: 13px;
}

.header__logo:hover,
.header__logo:focus {
  background-color: rgba(202, 44, 55, 1);
}

.header__logo:active {
  background-color: rgba(186, 39, 50, 1);
}

.header__search {
  width: 270px;

}

.search-form__input {
  color: rgba(255, 255, 255, 1);

  background-color: rgba(41, 52, 73, 1);
  border: none;
  padding: 0;
  min-height: 42px;
  width: 100%;
}

.search-form__input:focus {
  color: rgba(0, 0, 0, 1);
}

.search-form__input::placeholder {
  color: rgba(255, 255, 255, 1);
}

.search-form__input:focus {
  background-color: rgba(255, 255, 255, 1);
}

.header__goods-actions {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 450px;
}

.goods-actions {
  list-style: none;
}

.goods-actions__item {
  width: 150px;
  height: 42px;
}

.goods-actions__link {
  color: rgba(255, 255, 255, 1);
  width: 150px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goods-actions__link:hover,
.goods-actions__link:focus {
  background-color: rgba(33, 42, 58, 1);
}

.goods-actions__link:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(22, 29, 41, 1);
}

.goods-actions__link_not-empty {
  background-color: rgba(238, 54, 67, 1);
}

/*Слудующего свойства нет в стайлгайде, прикрутил эффект как у .button*/
.goods-actions__link_not-empty:hover,
.goods-actions__link_not-empty:focus {
  background-color: rgba(202, 44, 55, 1);
}

.goods-actions__link_checkout {
  background-color: rgba(99, 166, 62, 1);
}

.goods-actions__link_checkout:hover,
.goods-actions__link_checkout:focus {
  background-color: rgba(95, 187, 45, 1);
}

.goods-actions__link_checkout:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: rgba(81, 133, 52, 1);
}

.header__middle {
  height: 158px;
}

.header__wrapper_middle {
  min-height: 158px;
  margin-top: 46px;
  display: flex;
  align-items: flex-start;
}

.header__description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: rgba(238, 54, 67, 1);
  width: 197px;
  margin: 0;
  margin-right: 70px;
  margin-left: 53px;
  margin-top: 3px;
}

.header__contacts {
  text-align: center;
  margin-right: 69px;
}

.header__telephone {
  margin-bottom: 4px;
}

.header__telephone a {
  font-size: 21px;
  line-height: 21px;
  color: rgba(238, 54, 67, 1);

  border: solid 3px rgba(255, 255, 255, 1);
  display: block;
  width: 270px;
  height: 45px;
  padding-top: 9px;
}

.header__adress {
  font-size: 14px;
  line-height: 24px;
  color: rgba(50, 66, 92, 1);
}

.header__authorization {
  margin-left: auto;
}

.authorization {
  text-align: right;
}

.authorization__container_buttons {
  font-size: 21px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  display: flex;
}

.authorization__button {
  text-align: center;
  color: inherit;

  background-color: rgba(255, 255, 255, 1);
  margin-right: 10px;
  padding-top: 12px;
}

.authorization__button:last-child {
  margin: 0;
}

.authorization__button:hover,
.autauthorization__button:focus {
  color: rgba(238, 54, 67, 1);
}

.authorization__button:active {
  color: rgba(0, 0, 0, 0.3);
}

.authorization__button_sign-in {
  display: block;
  width: 121px;
  height: 45px;
}

.authorization__button_sign-up {
  display: block;
  width: 150px;
  height: 45px;
}

.authorization__container_name {
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: rgba(0, 0, 0, 1);

  background-color: rgba(255, 255, 255, 1);
}

.authorization__name {
  color: inherit;

  background-color: transparent;
}

.authorization__name:active {
  color: rgba(0, 0, 0, 0.3);
}

.authorization__logout {
  color: rgba(197, 197, 197, 1);
}

.authorization__logout:hover {
  color: rgba(50, 66, 92, 1);
}

.authorization__logout:active {
  color: rgba(197, 197, 197, 1);
}

.authorization__container_personal {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: rgba(50, 66, 92, 1);

  background-color: transparent;
}

.authorization__personal {
  color: inherit;
  text-decoration: underline;
}

.authorization__personal:hover,
.authorization__personal:focus {
  color: rgba(238, 54, 67, 1);
}

.authorization__personal:active {
  color: rgba(50, 66, 92, 0.3);
}

.navigation {
  background-color: rgba(50, 66, 92, 1);
  box-shadow: inset 0 -5px 0 0 rgba(41, 52, 73, 1);
}

/*Точно по макету не рационально делать, тут явно ошибка дизайнера*/
.navigation__list {
  list-style: none;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  display: flex;
  min-height: 60px;
  padding: 0;
}

.navigation__item {
  flex-grow: 1;
}

.navigation__link {
  color: inherit;
  height: 60px;
  display: block;
  padding: 0px;
  padding-top: 20px;
  font-size: 17px;
  line-height: 17px;
}

.navigation__link:hover {
  background-color: rgba(29, 39, 57, 1);
}

.navigation__link:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: rgba(29, 39, 57, 1);
}

/*Красная зона*/

.rubrics__list {
  list-style: none;
}

.rubrics__ilem_matherials {
  background-color: rgba(255, 191, 71, 1);
}

.rubrics__ilem_instrument {
  background-color: rgba(59, 188, 227, 1);
}

.rubrics__ilem_technics {
  background-color: rgba(220, 145, 216, 1);
}

.rubrics__ilem_discount {
  background-color: rgba(142, 215, 143, 1);
}

.rubrics__ilem_delivery {
  background-color: rgba(255, 192, 71, 1);
}

.rubrics__title {
  font-size: 24px;
  line-height: 30px;
}

.slider-category {
  list-style: none;
}

.slider-category__item {
  background-color: rgba(41, 52, 73, 1);
}

.slider-category__item_drills {
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 620px 266px;
}

.slider-category__item_perforator {
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 620px 266px;
}

.slider-category__title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-category__content {
  font-size: 18px;
  line-height: 24px;
}

.popular-goods__title,
.manufactures__title {
  color: rgba(50, 66, 92, 1);
}

.logo-list__item {
  text-align: center;
}

.logo-list__link {
  margin: 20px;

  text-align: center;

  background-color: rgba(255, 255, 255, 1);
  border: solid 1px rgba(234, 234, 234, 1);
}

.logo-list__link:hover,
.logo-list__link:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.logo-list__link:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.logo-list__link:active .logo-list__img {
  opacity: 0.3;
}

.servicess {
  color: rgba(0, 0, 0, 1);

  background-color: rgba(244, 247, 249, 1);
}

.servicess__content {
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans", "Arial", sans-serif;
}

.service-select {
  position: relative;

  width: 240px;

  list-style: none;
}

.service-select::after {
  content: "";
  position: absolute;
  top: -46px;
  right: 0;

  width: 10px;
  height: 272px;

  background-image: url("../img/services-shadow.png");
}

.service-select__button {
  width: 100%;
  height: 61px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: rgba(255, 255, 255, 1);

  background-color: rgba(50, 66, 92, 1);
  border: none;
  box-shadow: 0 1px 0 0 rgba(41, 52, 73, 1),
  0 1px 0 0 rgba(64, 80, 105, 1) inset;
}

.service-select__button:hover,
.service-select__button:focus,
.service-select__button:active {
  background-color: rgba(41, 52, 73, 1);
}

.service-select__button_current,
.service-select__button_current:hover,
.service-select__button_current:focus,
.service-select__button_current:active {
  color: rgba(50, 66, 92, 1);

  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1),
  0 1px 0 0 rgba(255, 255, 255, 1) inset;
}

.service-description {
  list-style: none;
}

.service-description__item {
  background-color: transparent;
}

.service-description__item_delivery {
  background: url("../img/services-delivery.png") no-repeat;
}

.service-description__item_guarantee {
  background: url("../img/services-guarantee.png") no-repeat;
}

.service-description__item_credit {
  background: url("../img/services-credit.png") no-repeat;
}

.service-description__title {
  font-size: 36px;
  line-height: 36px;
  color: rgba(50, 66, 92, 1);
}

.service-description__content {
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans", "Arial", sans-serif;
}


/*Конец красной зоны*/
.main__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}

.about-company {
  color: rgba(0, 0, 0, 1);

  background-color: transparent;

  width: 542px;
}

.about-company__title {
  margin-bottom: 27px;
}

.about-company__content {
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans", "Arial", sans-serif;
  margin-bottom: 23px;
  width: 100%;
}

.about-company__content:last-of-type {
    width: 420px;
    margin-bottom: 21px;
}

.about-company__delivery-list {
  list-style: none;
  margin: 0;
}

.about-company__delivery-item {
  position: relative;

  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-left: -3px;
}

.about-company__delivery-item:last-of-type {
  margin-bottom: 37px;
}

.about-company__delivery-item::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: -37px;

  width: 25px;
  height: 2px;

  background-color: rgba(238, 54, 67, 1);
}

.about-company__company-details {
  width: 220px;
}

.contacts {
  text-align: center;
  color: rgba(0, 0, 0, 1);

  background-color: transparent;

  width: 300px;
}

.contacts__content {
  font-size: 13px;
  line-height: 24px;
  font-family: "PTSans", "Arial", sans-serif;
  text-align: left;
  width: 195px;
  margin-bottom: 32px;
}

.contacts__img {
  margin-bottom: 34px;
}

.contacts__write-us {

}

/*===*/

.main {
  background-color: transparent;
}

.main_catalog {
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 1);
}

.main__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: rgba(50, 66, 92, 1);
  text-transform: uppercase;

  background-color: rgba(242, 246, 248, 1);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs__link {
  font-size: 13px;
  line-height: 18px;
  color: inherit;
}

.filters__title {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: rgba(247, 243, 236, 1);
}

.price-set__container_range {
  background-color: rgba(247, 243, 236, 1);
}

.price-set__input {
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;

  background-color: rgba(247, 243, 236, 1);
  border: none;
}

.price-set__separator {
  font-size: 18px;
}

.sorting {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: rgba(247, 243, 236, 1);
}

.sorting__title {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

.sorting__link {
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link:hover,
.sorting__link:focus,
.sorting__link:active {
  color: rgba(0, 0, 0, 1);
}

.sorting__link_current,
.sorting__link_current:hover,
.sorting__link_current:focus,
.sorting__link_current:active {
  color: rgba(238, 54, 67, 1);
}

.criterion-list {
  list-style: none;
}

.criterion-list__link {
  border-bottom: 1px dotted rgba(238, 54, 67, 1);
}

.criterion-list__link:hover,
.criterion-list__link:focus,
.criterion-list__link:active {
  border-bottom: 1px solid rgba(238, 54, 67, 1);
}

.criterion-list__link_current,
.criterion-list__link_current:hover,
.criterion-list__link_current:focus,
.criterion-list__link_current:active {
  border-bottom: none;
}

.direction-list {
  list-style: none;
}

.direction-list__icon {
  fill: rgba(0, 0, 0, 0.3);
}

.direction-list__icon:hover,
.direction-list__icon:focus,
.direction-list__icon:active {
  fill: rgba(0, 0, 0, 1);
}

.direction-list__icon_current,
.direction-list__icon_current:hover,
.direction-list__icon_current:focus,
.direction-list__icon_current:active {
  fill: rgba(238, 54, 67, 1);
}

.filter__set {
  border: none;
}

.filter__legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter__list {
  list-style: none;
}

/*ниже задаю параметры только тексту (как по заданию) так как чекбоксы мы потом стилизуем отдельно*/
.filter__label,
.filter__label:hover,
.filter__label:focus,
.filter__label:active {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.manufact-set__item_disabled,
.power-set__item_disabled {
  opacity: 0.4;
}

.filter__button {
  font-size: 13px;
  color: rgba(0, 0, 0, 1);

  background-color: transparent;
  border: solid 1px rgba(229, 229, 229, 1);
}

.filter__button:hover,
.filter__button:focus {
  border: solid 1px rgba(189, 198, 202, 1);
}

.filter__button:active {
  border: solid 1px rgba(238, 54, 67, 1);
}

/*Ниже обращаюсь через .products так как этот список товаров еще будет на главной странице*/

.goods {
  text-align: center;
}

.products {
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.products__item {
  background-color: rgba(255, 255, 255, 1);
  border: solid 1px rgba(229, 229, 229, 1);
}

.products__item:hover,
.products__item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.502);
}

.products__title {
  font-size: 18px;
  line-height: 20px;
}

.products__link {
  color: inherit;
}

.products__price-container {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  background-color: transparent;
}

.products__old-price {
  color: rgba(153, 153, 153, 1);
  text-decoration: line-through;
}

.products__current-price {
  color: rgba(255, 255, 255, 1);

  background-color: rgba(238, 54, 67, 1);
}

.products__buttons-container {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.products__buy-button {
  color: rgba(255, 255, 255, 1);

  background-color: rgba(99, 166, 62, 1);
  box-shadow: inset 0 -3px 0 0 rgba(54, 115, 21, 1);
}

.products__buy-button:hover,
.products__buy-button:focus {
  background-color: rgba(95, 187, 45, 1);
}

.products__buy-button:active {
  background-color: rgba(81, 133, 52, 1);
}

.products__bookmark-button {
  color: rgba(50, 66, 92, 1);

  background-color: transparent;
  border: solid 3px rgba(99, 166, 62, 1);
}

.products__bookmark-button:hover,
.products__bookmark-button:focus {
  border: solid 3px rgba(50, 66, 92, 1);
}

.products__bookmark-button:active {
  color: rgba(50, 66, 92, 0.298);

  border: solid 3px rgba(50, 66, 92, 0.3);
}

.pagination-list {
  list-style: none;
}

.pagination-list__link {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;

  background-color: rgba(255, 255, 255, 1);
  border: solid 1px rgba(229, 229, 229, 1);
  border-radius: 2px;
}

.pagination-list__link:hover,
.pagination-list__link:focus {
  border: solid 1px rgba(189, 198, 202, 1);
}

.pagination-list__link:active {
  border: solid 1px rgba(238, 54, 67, 1);
}

.pagination-list__link_current,
.pagination-list__link_current:hover,
.pagination-list__link_current:focus,
.pagination-list__link_current:active {
  color: rgba(255, 255, 255, 1);

  background-color: rgba(238, 54, 67, 1);
  border: none;
}

.about-perforators {
  background-color: rgba(244, 247, 249, 1);
}

.about-perforators__content {
  font-size: 13px;
  line-height: 24px;
}

.footer {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  height: 300px;

  background-color: rgba(50, 66, 92, 1);
}

.footer__container-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 193px;
}

.footer__logo {
  width: 220px;
  height: 68px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 28px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  width: 340px;
  height: 80px;
  padding: 0;
  padding-left: 4px;
  margin: 0;
  flex-grow: 1;
}

.footer__list_site-map {
  margin-top: 38px;
  margin-left: -36px;
  margin-bottom: 34px;
}

.footer__list_site-map a {
  color: rgba(243, 247, 249, 1);
}

.footer__list_site-map a:hover,
.footer__site-map a:focus {
  text-decoration: underline;
}

.footer__list_site-map a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer__list_catalog-map {
  margin-left: -42px;
}

.footer__list_catalog-map a {
  color: rgba(255, 209, 128, 1);
}

.footer__list_catalog-map a:first-child {
  margin-left: 30px;
}

.footer__list_catalog-map a:hover,
.footer__list_catalog-map a:focus {
  text-decoration: underline;
}

.footer__list_catalog-map a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer__container-bottom {
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  height: 107px;

  background-color: rgba(41, 52, 73, 1);
}

.footer__wrapper_bottom {
  display: flex;
}

.footer__copyright {
  margin: 0;
  margin-top: 37px;
  margin-right: 140px;
  padding-left: 1px;
  min-width: 250px;
}

.footer__social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 131px;
  padding: 0;
  margin: 0;
  margin-top: 34px;
  margin-right: 120px;
}

.social-list__link {
  text-align: center;
  color: inherit;

  background-color: rgba(33, 42, 58, 1);
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.social-list__link:hover,
.social-list__link:focus,
.social-list__link:active {
  background-color: rgba(238, 54, 67, 1);
}

.social-list__link {
  background-position: center;
  background-repeat: no-repeat;
}

.social-list__link_vk {
  background-image: url(../img/icon-vk.svg);
}

.social-list__link_fb {
  background-image: url(../img/icon-fb.svg);
}

.social-list__link_ig {
  background-image: url(../img/icon-insta.svg);
}

.footer__callback {
  width: 135px;
  margin-right: 53px;
  margin-top: 37px;
}

.footer__develop {
  margin-top: 37px;
}

.footer__callback a,
.footer__develop a {
  color: rgba(255, 209, 128, 1);
}

.footer__callback a:hover,
.footer__callback a:focus,
.footer__develop a:hover,
.footer__develop a:focus {
  text-decoration: underline;
}

.footer__callback a:active,
.footer__develop a:active {
  color: rgba(238, 54, 67, 1);
  text-decoration: none;
}
