/*Global properties*/

body {
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}

.feedback {
  color: black;
}
.feedback ul {
  list-style: none;
}
.feedback p {
  margin-bottom: 0;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

/*Local properties*/

